* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-auto-flow: row;
  height: 100vh;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
.header {
  display: grid;
  /* background-color: red; */
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 2rem;
  align-content: center;
  /* outline: solid 1px #2c3e50; */
  color: #1c2e54;
}
.header__left {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 1rem;
  align-items: center;
}
.left__nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  font-weight: bold;
}
.right__nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1rem;
}
.main {
  padding: 0.5rem 2rem;
}
.shoping-item__img {
  width: 200px;
}
.title {
  text-align: left;
  padding: 1rem;
  font-size: 1.2rem;
}
.shoping-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 0.5rem;
}
.item-name {
  text-align: left;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #1b2d53;
}
.item-price {
  text-align: left;
  padding: 0rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.5rem;
}
.previous-item-price {
  text-decoration: line-through;
  color: #7a859b;
}
.discounted-item-price {
  color: red;
}
.shopping-item {
  display: grid;
  grid-auto-flow: row;
  justify-content: start;
  gap: 0.5rem;
}
.footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  /* height: 10vh; */
  padding: 1rem;

  align-content: center;
  /* outline: solid 1px #2c3e50; */
  color: #1c2e54;
  background-color: #eeeeee;
}
.uk {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 0.5rem;
  font-weight: bold;

  align-items: center;
}
.uk-flag {
  width: 20px;
  height: 20px;
}

.product-details {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.5rem;
}
.shoping-item-details-img {
  width: 400px;
}
.add-to-bag-button {
  background-color: #0f6c9e;
  color: white;
  /* height: 50px; */
  padding: 1rem;
  border-radius: 25px;
  border: 5px solid white;
  font-weight: bolder;
}
